.Container{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.Right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;

}

.Right img{
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: -1;
    filter: grayscale(100%);
    rotate: -5deg;
    animation: flutuar 5s infinite;
}

.Left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;

}

.Left h1{
    font-size: 60px;
    margin-left: 150px;
    display: inline-flex;
    width: 420px;

}
.Left h3{
    font-size: 30px;
    margin-left: -15%;

}
.rectangleA {
    height: 25px;
    width: 420px;
    background-color: #555;
    margin-bottom: 5px;
    margin-left: 15%;
  }

  .rectangleB {
    height: 25px;
    width: 400px;
    background-color: #555;
    transform: rotate(-10deg);
    margin-top: 15px;
    margin-left: 15%;
  }



@keyframes flutuar{
    0%{
        tranform : translate(0, 0);
    }
    50%{
        transform: translate(10px,0);
    }
    100%{
        transform: translate(0, 0);
    }

}


    .arrow{
        margin-top: 52vh;
        position: absolute;
        width: 85vw;
        height: 4px;
        background-color: #555;
        margin-left: 7vw;
    }

    .arrow::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #555;
        margin-left: 99%;
        margin-top: -6px;
        transform: rotate(-90deg);
    }

    @keyframes animation {
        0%{
            transform: translate(0, 0);
        }
        50%{
            transform: translate(10px,0);
        }
        100%{
            transform: translate(0, 0);
        }
    }

    @media screen (max-width: 768px){

        
    }

